#Heading
{
    width: 100%;
    height:600px;
    margin-left: auto; 
    margin-right: auto;
    border:0.00001px solid black;
    background-image: url(pexels-ashiq-ali-11436188-18470153.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
img 
{   
    position:absolute;
}
#benefit2,#consequence2,#benefit1
{
    margin-left: 3%;
    border-radius: 15px;
    transition-duration: 0.3s;
    margin-bottom:5%;
}
#consequence1
{
    margin-left:5%;
    border-radius: 15px;
    transition-duration: 0.3s;
    margin-bottom:5%;
}
#benefit1:hover,#consequence1:hover,#benefit2:hover,#consequence2:hover
{
	box-shadow: 0 12px 16px 0 grey, 0 17px 50px 0 grey; 
    width:23%; 
    height:260px;
    background-color:rgb(80,150,230);
    font-size:15px;

}
#benefit1,#consequence1,#benefit2,#consequence2
{
    height: 230px; 
    width: 20%;
}
#Weight_Tracker
{
    display:block; 
    margin-left:auto; 
    margin-right:auto;
    margin-top:5%;
    height: 285px; 
    width: 30%;
    border-radius: 15px;
    font-size:18px;
    margin-bottom:10%;
    transition-duration:0.4s;
}
#Weight_Tracker:hover
{
    box-shadow: 0 10px 16px 0 grey, 0 17px 51px 0 grey;
    width:35%; 
    height:320px;
    background-color:rgb(80,150,230);
    font-size:20px;
}
#BM
{
    margin-top: -31%;
	height: 70px; 
	width: 100px;
    float:right;
    margin-right: 0.3%;
    border-radius: 50%;
    transition-duration: 0.3s;
}
#BM:hover
{
	box-shadow: 0 10px 16px 0 grey, 0 17px 51px 0 grey;
    width:120px; 
    height:80px;
    font-size:16px;
    background-color:rgb(80,150,230);
}
body
{
    margin:0;
    padding:0;
    display: inline-block;
    font-family:Segoe UI;
}
button
{
    font-family:Segoe UI;
    background-color:white;
}
#paragraph
{
	background-color:rgb(137,207,240);
    margin-left:auto;
    margin-right:auto;
    width:70%; 
    border: 2px solid black;
	padding: 2%;
	border-radius: 25px;
}
p
{
    text-align: center;
}
h3
{
    font-size: 24px;
    text-align:center;
}
h2
{
    text-align: center;
}
