h1
{
    text-align: center;
}
#Question1,#Question2,#Question3
{
    margin-right: 40%; 
    margin-left: 40%;
}
#Answers
{
    margin-right: 43%; 
    margin-left: 43%;
}
body 
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
button,input
{
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
}
