nav{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
}
.larger_div{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width:45%;
}
.category{
    margin: 3%;
    width: 50%;
    text-align: center;
    font-family: 'Nata Sans', sans-serif;
    transition-duration: 0.3s;
}
body{
    font-family: 'Nata Sans', sans-serif;
}
a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}
#experience{
    display: flex; 
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: 65%;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 3%;
    margin-bottom: 5%;
}
#title,#Paragraph{
    margin:auto; 
    text-align: center;
    padding: 1%;
}
#Paragraph{
    width: 65%;
}
#experience,#projects{
    flex-direction: column;
}
#web_descriptions{
    display: flex; 
    flex-direction: row;
}
#about,#projects{
    display: flex; 
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 45%;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 3%;    
    margin-left: 5%;
    height: 600px;
}
#projects{
    width: 65%;
}
.everything{
    padding: 3%;
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div{
    background-color:transparent;
}
body{
    padding: 0;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.web{
    border: 2px solid black; 
    border-radius: 15px;
}
#category{
    transition-duration: 0.5s;
}
#category:hover{
    text-shadow: -11px 13px 20px #9730EC;
    color: #9730EC;
}
html{
    scroll-behavior: smooth;
}